body{
    margin: 0;
    background: url("../images/fond.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS';
    text-align: center;
    }
    
    .header1{
        
    background-color:#424242;
    display: flex;
    align-items: center;
    }
    
    .mauricou{
        color: #ffffff;
        text-decoration: none;
    }
    
    .header1 img{
        height: 50px;
        width: 50px;
        padding: 7px;
    }
    
    .header2{
        background-color: #000000;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    .rechercher{
        margin-left: 710px;
    }
    
    .titre{
        color: #ffffff;
        font-style: bold;
        display: block;
    margin-right: auto;
    margin-left: auto;
    }
    
    .sousactua,.actua{
        border: 1px solid #000000;
        width: 157px;
    }
    
    .generale ul{
        margin: 0;
        padding: 0;
    }
    
    .header2 nav{
        color: #ffffff; 
    }
    
    .header2 nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 40px;
    background-color: #000000;
    text-align: center;
    line-height: 40px;
    }
    
    .generale a{
        display: block;
    }
    
    .generale a:hover{
      background-color:#2E2E2E;
     transition: 0.1s;
    }
    
    .generale ul li{
        display: none;
    }
    .generale a{
        text-decoration: none;
        color: #ffffff;
    }
    
    .generale:hover ul li{
        display:block;
    }
    
    .support{
        width: 200px;
        height: 40px;
        background-color: #000000; 
        list-style-type: none;
        line-height: 40px;
    }
    
    .support a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    }
    
    .support a:hover{
        background-color:#2E2E2E;
        transition: 0.1s;
    }
    
    .rechercher{
        width: 225px;
    }
    
    .addmauricou a{
        text-decoration: none;
        color: #ffffff;
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        height: 40px;
        background-color: #000000;
        text-align: center;
        line-height: 40px;
        }
    .addmauricou{
        list-style-type: none;
    }
    
    .addmauricou a:hover{
        background-color:#2E2E2E;
        transition: 0.1s;
    }

    .separation{
        border: 2px solid grey;
        width: 550px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .contenu img{
        border-radius: 15px;
    }